{% block script %}
<script src="https://kit.fontawesome.com/544c0a4acf.js" crossorigin="anonymous"></script>
{% endblock %}
<!-- footer -->
<div class="footer">
    <div class="footer-title">
        <h4 class="footer-name">Mr.Cool</h2>
        <p class="footer-text">Greetings from Mr.Cool, your dependable home appliance repair partner! We take pride in being your go-to choice for all appliance repairs in your home after providing devoted service for more than 5 years. Our mission was to make sure our customers' appliances functioned flawlessly in order to restore their smiles.</p>
    </div>
    <div class="getin-touch">
        <h4 class="footer-name">Get in Touch</h3>
        <div class="footer-contact">
            <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
            <h4 class="footer-info">1234567890</h4>
        </div>
        <div class="footer-contact">
            <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
            <h4 class="footer-info">mrcoolpvtltd2025@gmail.com</h4>
    </div>
    <div class="footer-services">
        <h4 class="footer-name">Our Services</h3>
        <a href="{%url "ac-servicepage"%}" class="footer-link">AC Repair</a><br>
        <a href="{%url "fridge-servicepage"%}" class="footer-link">Fridge Repair</a>
    </div>
    <div class="footer-links">
        <h4 class="footer-name">Quick Links</h3>
        <a href="{%url "homepage"%}" class="footer-link">Home</a><br>
        <a href="{%url "aboutpage"%}" class="footer-link">About</a><br>
        <a href="{%url "servicepage"%}" class="footer-link">Services</a><br>
        <a href="{%url "accountpage"%}" class="footer-link">Account</a>
    </div>
    <div class="social-title">
        <h4 class="footer-name">Social Media</h3>
        </div>
    <div class="footer-media">
        <a href="https://www.facebook.com" class="social-link">
            <i class="fa-brands fa-facebook" style="color: #ffffff;" ></i>
        </a>
        <a href="https://www.instagram.com" class="social-link">
            <i class="fa-brands fa-instagram" style="color: #fcfcfd;"></i>
        </a>
        <a href="https://www.twitter.com" class="social-link">
            <i class="fa-brands fa-twitter" style="color: #ffffff;" ></i>
        </a>
        <a href="https://www.linkedln.com" class="social-link">
            <i class="fa-brands fa-linkedin" style="color: #ffffff;" ></i>
        </a>
    </div>
    <div class="disclaimer">
        <h4 class="footer-name">Disclaimer</h4>
        <p class="footer-text">We are trusted third-party customer service provider. We offer instant support home appliances repair and services. No doubt we are using the brand names, logos and trademarks but for reference purpose only.</p>
    </div>
</div>
</div>
<div class="footer-end">
    <p class="end-text">© 2025 Mr.Cool. All Rights Reserved.</p>
</div>
</body>
</html>